extends login-base

block content
  body(id="admin-body")
    #admin-row
      .container--1
        h1 Forgot Password
        form.form-group
          .forget-pass
            label(for="email") Email Address
            input#email(type="email" placeholder="Enter your email address")
          .forget-pass
            button Reset Password

          p.goIn
            | Don't have an account?
            a(href='/signup') Sign up